@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: #fffeee; 
    color: #00ff00; 
    font-family: "Outfit", Arial, sans-serif; 
    margin: 20px;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box; 
    overflow-x: hidden; 
}
.infobox {
  padding:3px 15px;
  margin: 20px 0;
  display: block;
  max-width: 600px;
  word-wrap: break-word;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 1px;
  border-left: 8px solid #000000;
}
